c*__pycache__/
data/*
*~
*.mexa64
*.pyc
SNPknock/docs/build/*
SNPknock/build/
*.so
bin/
tmp/
SNPknock/knockoffs.cpp
dist/
*.egg*
.Rproj.user
*.Rhistory
*.Rbuildignore
*.o
*.Rcheck
*.gz
*.tgz
*cache*
*.html
*.aux
*.blg
*.bcf
*.bbl
*.log
*.out
*.pdf
*.xml
*auto/
